<div class="container" id="container">

    <!-- SIGN OUT FORM -->
  <div class="form-container sign-up-container">
    <form action="/authentication/join-us" method="POST">
      <div class="social-container">
        <a href="/git-hub-authentication/github"><img src="/images/GitHub-Mark-120px-plus.png" class="git-hub-logo" alt="GitHub"/></a>
      </div>
      <input type="text" id="input-name" name="name" placeholder="Your Name" />
      <input type="email" id="input-email" name="email" placeholder="Your Email" />
      <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
      <button>Sign Up</button>
    </form>
  </div>

  <!-- SIGN IN FORM -->
  <div class="form-container sign-in-container">
    <form action="/authentication/sign-in" method="POST">
      <div class="social-container">
        <a href="/git-hub-authentication/github"><img src="/images/GitHub-Mark-120px-plus.png" class="git-hub-logo" alt="GitHub"/></a>
      </div>
      <input type="email" id="input-email" name="email" placeholder="Your Email" />
      <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
      <button>Sign In</button>
    </form>
  </div>

</div>