<div class="container-edit-profile">
<form action="/user/{{ user._id }}/user-profile-edit" method="POST" enctype="multipart/form-data">
    
    <input type="text" name="name" placeholder="Name" value="{{user.name}}">

    <input id="upload-image-input" name="images" type="file" />

    <input required id="dob-input" type="number" 
      name="dob" placeholder="Date of Birth" class="input">

    <input required id="profession-input" type="text" 
      name="profession" placeholder="Profession" class="input">

    <select name="gender" class="color-lines" required>
      <option value="">Select gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Agender">Agender</option>
      <option value="Androgyne">Androgyne</option>
      <option value="Bigender">Bigender</option>
      <option value="Cis">Cis</option>
      <option value="Cisgender">Cisgender</option>
      <option value="Gender Fluid">Gender Fluid</option>
      <option value="Intersex">Intersex</option>
      <option value="Neutrois">Neutrois</option>
      <option value="Non-binary">Non-binary</option>
      <option value="Pangender">Pangender</option>
      <option value="Trans">Trans</option>
      <option value="Transgender">Transgender</option>
      <option value="Transsexual">Transsexual</option>
      <option value="Two-Spirit">Two-Spirit</option>
      <option value="Neither">Neither</option>
      <option value="Other">Other</option>
    </select>

    <select name="sexualOrientation" class="color-lines" required>
      <option value="">Select Orientation</option>
      <option value="Heterosexual">Heterosexual</option>
      <option value="Homosexual">Homosexual</option>
      <option value="Bisexual">Bisexual</option>
      <option value="Asexual">Asexual</option>
    </select>


    <select name="disability" class="color-lines" required>
      <option value="">Select Disability</option>
      <option value="Blindness">Blindness</option>
      <option value="Low-Vision">Low-Vision</option>
      <option value="Deuteranomaly">Deuteranomaly</option>
      <option value="Protanomaly">Protanomaly</option>
      <option value="Protanopia">Protanopia</option>
      <option value="Deuteranopia">Deuteranopia</option>
      <option value="Tritanomaly">Tritanomaly</option>
      <option value="Tritanopia">Tritanopia</option>
      <option value="Complete color blindness">Complete color blindness</option>
      <option value="Leprosy Cured Persons">Leprosy Cured Persons</option>
      <option value="Hearing Impairment">Hearing Impairment</option>
      <option value="Locomotor Disability">Locomotor Disability</option>
      <option value="Dwarfism">Dwarfism</option>
      <option value="Intellectual Disability">Intellectual Disability</option>
      <option value="Mental Illness">Mental Illness</option>
      <option value="Autism Spectrum Disorder">Autism Spectrum Disorder</option>
      <option value="Cerebral Palsy">Cerebral Palsy</option>
      <option value="Muscular Dystrophy">Muscular Dystrophy</option>
      <option value="Multiple Sclerosis">Multiple Sclerosis</option>
      <option value="Speech and Language Disability">Speech and Language Disability</option>
      <option value="Hemophilia">Hemophilia</option>
      <option value="Thalassemia">Thalassemia</option>
      <option value="Multiple Disabilities">Multiple Disabilities</option>
      <option value="Acid Attack Survivors">Acid Attack Survivors</option>
      <option value="Parkinson’s Disease">Parkinson’s Disease</option>
      <option value="Other"></option>
    </select>

    <textarea name="about" id="aboutyour" cols="30" rows="10" required>About yourself</textarea>

    <div class="container">
  <div id="map-container"></div>
<button id="locate-me" class="btn btn-secondary btn-lg btn-block" type="button">Use my position</button>
    <input type="hidden"  name="latitude" id="location-lat-input">
    <input type="hidden" name="longitude" id="location-lng-input">

    <button class="btn btn-secondary btn-lg  btn-block">Save</button>
  
</form>
</div>

<div class="container">
  <div id="map-container"></div>
<button id="locate-me" class="btn btn-primary">Use my position</button>

<form action="/user/chat2" method="POST">
  <input type="text" name="latitude" id="location-lat-input">
  <input type="text" name="longitude" id="location-lng-input">

  <button >Submit</button>
</form>

</div>


<script>
  function initMap() {

    const $mapContainer = document.getElementById('map-container');
    const $latInput = document.getElementById('location-lat-input');
    const $lngInput = document.getElementById('location-lng-input');

    const map = new window.google.maps.Map($mapContainer, {
      center: { lat: 38.75, lng: -9.15},
      zoom: 11
    });

    let marker;

    const $triggerButton = document.getElementById('locate-me');

    $triggerButton.addEventListener('click', () => {
      navigator.geolocation.getCurrentPosition(result => {
        newPosition(result.coords.latitude, result.coords.longitude);
      })
    });

    map.addListener('click', event => {
      newPosition(event.latLng.lat(), event.latLng.lng());
    }) 



    const newPosition = (lat, lng) => {
      $latInput.value = lat;
      $lngInput.value = lng;
      if(marker) {
        marker.setMap(null);
      };
      marker = new window.google.maps.Marker({
        map,
        position: {
          lat,
          lng
        }
      });
    }
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap"></script>