<form action="/user/{{ user._id }}/user-profile-edit" method="POST">
    
    <input id="upload-image-input" name="images" type="file" />

    <input required id="dob-input" type="number" 
      name="dob" placeholder="Date of Birth" class="input">

    <input required id="profession-input" type="text" 
      name="profession" placeholder="Profession" class="input">

    <input required id="gender-input" type="option" 
      name="gender" placeholder="Gender" class="input">

    <input required id="sexualOrientation-input" type="option" 
      name="sexualOrientation" placeholder="Sexual Orientation" class="input">
    
    <input required id="disability-input" type="option" 
      name="disability" placeholder="Disability" class="input">

  <button class="button3">Save</button>
  
</form>


<div class="container">

</div>

<div class="container">
  <div id="map-container"></div>
<button id="locate-me" class="btn btn-primary">Use my position</button>

<form action="/place/search">
  <input type="text" name="latitude" id="location-lat-input">
  <input type="text" name="longitude" id="location-lng-input">

  <button>Submit</button>
</form>

</div>


<script>
  function initMap() {

    const $mapContainer = document.getElementById('map-container');
    const $latInput = document.getElementById('location-lat-input');
    const $lngInput = document.getElementById('location-lng-input');

    const map = new window.google.maps.Map($mapContainer, {
      center: { lat: 38.75, lng: -9.15},
      zoom: 11
    });

    let marker;

    const $triggerButton = document.getElementById('locate-me');

    $triggerButton.addEventListener('click', () => {
      navigator.geolocation.getCurrentPosition(result => {
        newPosition(result.coords.latitude, result.coords.longitude);
      })
    });

    map.addListener('click', event => {
      newPosition(event.latLng.lat(), event.latLng.lng());
    }) 



    const newPosition = (lat, lng) => {
      $latInput.value = lat;
      $lngInput.value = lng;
      if(marker) {
        marker.setMap(null);
      };
      marker = new window.google.maps.Marker({
        map,
        position: {
          lat,
          lng
        }
      });
    }
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap"></script>